RewriteEngine On

# Allow direct access to existing files and folders.
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Support extensionless direct php access if file exists.
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# Front controller.
RewriteRule ^ index.php [L]
